@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: theme('colors.blue.300')
}
.hint {
    background-color: theme('colors.yellow.100');
    padding: 6px 12px;
    font-style: italic;
    margin: 2px 0;
}
.hint::before {
    content: "Hint: ";
    font-weight: 600;
    font-style: normal;
}
@keyframes bang {
    from {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
i.confetti {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
}